.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@julusian/midi/**
!node_modules/pkg-prebuilds/**
!node_modules/tslib/**
!node_modules/@serialport/**
!node_modules/node-gyp-build/**
!node_modules/debug/**
!node_modules/ms/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
server/**
.cargo/**
toolchains/**
wasi-sdk.tar.gz
!server/target/wasm32-wasip1-threads/release/mmlx-lsp-server.wasm
!server/target/wasm32-wasip1-threads/release/mmlx-build.wasm
!server/target/wasm32-wasip1-threads/release/mmlx-emulator.wasm
!server/target/wasm32-wasip1/release/mmlx-emulator.wasm
!server/target/wasm32-wasip1-threads/release/mmlx-nanodrive.wasm
testbed/**
native/helix/**
native/tree-sitter/**
.github/**
release/**
package-lock.json
