.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@serialport/**
!node_modules/node-gyp-build/**
!node_modules/debug/**
!node_modules/ms/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
server/**
!server/target/wasm32-wasip1-threads/release/mmlx-lsp-server.wasm
!server/target/wasm32-wasip1-threads/release/mmlx-build.wasm
testbed/**
helix/**
tree-sitter/**
.github/**
release/**
package-lock.json
